@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700");
body {
  font-family: "Roboto Slab", serif;
}

.editor-post-title__block .editor-post-title__input {
  font-family: "Roboto Slab", serif;
}

.wp-block {
  max-width: 720px;
}

.wp-block[data-align="full"] {
  max-width: 120px;
}

.wp-block {
  max-width: none;
}
